{% extends 'base.html' %}
{% load static %}
{% block title %}Speakers | World AI x Summit{% endblock %}

{% block content %}

  <!-- Bannner section starts -->
  <section class="banner page-banner position-relative pb-0">
   <div class="overlay">
   </div>
   <div class="container">
    <div class="page-title text-center position-relative py-11">
     

     <h1  style="color: white;">Thank you!</h1>
    <p style="color: white;">Your message has been sent successfully. We'll get back to you soon.</p>
    <a href="{% url 'home' %}" class="btn btn-primary mt-3" style="color: white;">Back to Home</a>
    </div>
   </div>
  </section>
  <!--Banner Section end-->
  <!--Contact Section end-->
  
  <!--Contact Section end-->
  <!--Subscribe Section start-->
  <section class="subscribe py-4">
   <div class="container">
    <div class="subscribe-content">
     <div class="row">
      <div class="col-lg-6 align-self-center">
       <div class="sub-left text-center text-lg-start py-2">
        <h4 class="text-white">
         DON'T MISS OUR FUTURE UPDATES! GET SUBSCRIBED TODAY!
        </h4>
       </div>
      </div>
      <div class="col-lg-6">
       <div class="sub-right py-2">
        <p class="text-white mb-4 text-center text-lg-start">
         Excepteur sint occaecat cupidatat non proident, sunt
              in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="row gy-3">
         <div class="col-lg-8 col-md-8">
          <div class="sub-email">
           <input placeholder="Email" required="" type="email"/>
          </div>
         </div>
         <div class="col-lg-4 col-md-4">
          <div class="sub-button">
           <button class="btn btn3 w-100">
            SUBSCRIBE
           </button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Subscribe Section end-->
{% endblock %}