{% load static %}

<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Event Lists-Eventen
  </title>
  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
  <!--CSS Plugins-->
  <link href="{% static 'css/plugin.css' %}" rel="stylesheet"/>
  <!-- Default CSS-->
  <link href="{% static 'css/default.css' %}" rel="stylesheet"/>
  <!--Custom CSS-->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
  <!--FontAwesome CSS-->
  <link href="{% static 'icons/font-awesome.min.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <!--Header Section start-->
  {% include 'header.html' %}
  <!-- Header section ends -->
  <!-- Bannner section starts -->
  <section class="banner page-banner position-relative pb-0">
   <div class="overlay">
   </div>
   <div class="container">
    <div class="page-title text-center position-relative py-11">
     <h2 class="text-white">
      Event Lists
     </h2>
    </div>
   </div>
  </section>
  <!--Banner Section end-->
  <!--Schedules Section start-->
  <section class="schedules pb-0">
   <div class="container">
    <div class="schedule-inner">
     <div class="schedule-list-outer text-center">
      <div class="row align-items-center">
       <div class="col-lg-3">
        <div class="schedule-day schedule-day1 text-lg-start py-6 position-relative ps-2 z-1">
         <h4 class="pink mb-2">
          1ST DAY 
         </h4>
         <h6 class="mb-2">
          APRIL 23, 2024
         </h6>
         <p>
          <br/>
           The Rise of Human-Centered AI
        Theme: Empathy in Action – Innovation with Purpose

         </p>
        </div>
       </div>
       <div class="col-lg-9">
        <div class="schedule-list text-center text-sm-start m-sm-0">
         <div class="row gx-md-5">
          <div class="col-lg-6 col-md-6">
           <div class="schedule-list-left">
            <div class="schedule-list-box bg-lightgrey border border-white border-2 rounded px-6 py-4 mb-4">
             <div class="schedule-box-title">
              <h5 class="mb-2">
               <a class="black" href="{% url 'event_detail' %}">
                REGISTRATION &amp; BREAKFAST
               </a>
              </h5>
             </div>
             <div class="schedule-box-info">
              <p class="mb-2">
               <small>
                Fuel up, meet fellow attendees, and get your welcome kit.
                Opening Ceremony & Cultural Welcome 
               </small>
              </p>
              <ul class="mb-2 p-0">
               <li class="d-inline">
                <i aria-hidden="true" class="fa fa-clock-o pink me-2">
                </i>
                <small>
                 8:00 AM – 10:15 AM
                </small>
               </li>
               <li class="d-inline">
                <i aria-hidden="true" class="fa fa-thumb-tack pink mx-2">
                </i>
                <small>
                 Exploration Hall
                </small>
               </li>
              </ul>
             </div>
             <div class="schedule-box-bio d-md-flex">
              <div class="schedule-bio-image">
               <img alt="team-image" class="me-2 rounded-circle" src="{% static 'images/team/2.jpg' %}"/>
              </div>
              <div class="schedule-bio-info">
               <p class="mt-1 mb-0">
                <a class="pink" href="{% url 'speaker_detail' %}">
                 Julia Marie Victorio
                </a>
               </p>
               <small>
                Host &amp; Speaker
               </small>
              </div>
             </div>
            </div>

            <div class="schedule-list-box bg-white border-lightgrey border border-2 rounded px-6 py-4 mb-4">
             <div class="schedule-box-title">
              <h5 class="mb-2">
               <a class="black" href="{% url 'event_detail' %}">
                 Keynote: “AI for All: A Future Worth Building”
               </a>
              </h5>
             </div>
             <div class="schedule-box-info">
              <p class="mb-2">
               <small>
                Panel Discussion: Can Tech Truly Care? <br> <br>

                Breakout Workshops <br>
                •	No-Code AI Builders <br>
                •	AI in Education <br>
                •	Wellness & Emotional Intelligence in Tech <br>


               </small>
              </p>
              <ul class="mb-2 p-0">
               <li class="d-inline">
                <i aria-hidden="true" class="fa fa-clock-o pink me-2">
                </i>
                <small>
                 10:15 AM – 1:30 PM
                </small>
               </li>
               <li class="d-inline">
                <i aria-hidden="true" class="fa fa-thumb-tack pink mx-2">
                </i>
                <small>
                 Exploration Hall
                </small>
               </li>
              </ul>
             </div>
             <div class="schedule-box-bio d-md-flex">
              <div class="schedule-bio-image">
               <img alt="team-image" class="me-2 rounded-circle" src="{% static 'images/team/3.jpg' %}"/>
              </div>
              <div class="schedule-bio-info">
               <p class="mt-1 mb-0 pink">
                <a class="pink" href="{% url 'speaker_detail' %}">
                Marife Enrique, iRiseUp.AI
                </a>
               </p>
               <small>
                Host &amp; Speaker
               </small>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-6 col-md-6">
           <div class="schedule-list-left">
            <div class="schedule-list-box bg-white border-lightgrey border border-2 rounded px-6 py-4 mb-4">
             <div class="schedule-box-title">
              <h5 class="mb-2">
               <a class="black" href="{% url 'event_detail' %}">
                 Lunch + Expo Exploration
               </a>
              </h5>
             </div>
             <div class="schedule-box-info">
              <p class="mb-2">
               <small>
              • Founders & Funders <br>
              •Collaboration Break <br>
              •Startup Pitch Lab: Youth & Innovators Edition <br>
               </small>
              </p>
              <ul class="mb-2 p-0">
               <li class="d-inline">
                <i aria-hidden="true" class="fa fa-clock-o pink me-2">
                </i>
                <small>
                 01:30 - 05:00 PM
                </small>
               </li>
               <li class="d-inline">
                <i aria-hidden="true" class="fa fa-thumb-tack pink mx-2">
                </i>
                <small>
                 Exploration Hall
                </small>
               </li>
              </ul>
             </div>
             <div class="schedule-box-bio d-md-flex">
              <div class="schedule-bio-image">
               <img alt="team-image" class="me-2 rounded-circle" src="{% static 'images/team/1.jpg' %}"/>
              </div>
              <div class="schedule-bio-info">
               <p class="mt-1 mb-0 pink">
                <a class="pink" href="{% url 'speaker_detail' %}">
                 Julia Marie Victorio
                </a>
               </p>
               <small>
                Host &amp; Speaker
               </small>
              </div>
             </div>
            </div>
            <div class="schedule-list-box bg-lightgrey border border-white border-2 rounded px-6 py-4">
             <div class="schedule-box-title">
              <h5 class="mb-2">
               <a class="black" href="{% url 'event_detail' %}">
                Responsible AI, Women in Tech, HealthTech
               </a>
              </h5>
             </div>
             <div class="schedule-box-info">
              <p class="mb-2">
               <small>
               Wellness Reset (Optional) <br>
               AI-guided mindfulness, breathing & flow session <br>
               VIP Networking Mixer (Invite-Only)
               </small>
              </p>
              <ul class="mb-2 p-0">
               <li class="d-inline">
                <i aria-hidden="true" class="fa fa-clock-o pink me-2">
                </i>
                <small>
                 11:00 AM – 12:00 PM
                </small>
               </li>
               <li class="d-inline">
                <i aria-hidden="true" class="fa fa-thumb-tack pink mx-2">
                </i>
                <small>
                 Exploration Hall
                </small>
               </li>
              </ul>
             </div>
             <div class="schedule-box-bio d-md-flex">
              <div class="schedule-bio-image">
               <img alt="team-image" class="me-2 rounded-circle" src="{% static 'images/team/2.jpg' %}"/>
              </div>
              <div class="schedule-bio-info">
               <p class="mt-1 mb-0 pink">
                <a class="pink" href="{% url 'speaker_detail' %}">
                 Marife Enrique
                </a>
               </p>
               <small>
                Host &amp; Speaker
               </small>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="schedule-2 schedules">
   <div class="container">
    <div class="schedule-2-inner w-lg-60 m-auto text-center text-md-start">
     <div class="schedule-2-day pb-4 d-md-flex align-items-center">
      <div class="schedule-icon">
       <i aria-hidden="true" class="fa fa-calendar text-grey opacity-25">
       </i>
      </div>
      <div class="schedule-date px-4">
       <h4 class="pink">
        2nd DAY
       </h4>
       <h6 class="">
        APRIL 24, 2024
       </h6>
      </div>
      <div class="event-location">
       <p class="m-0">
        Co-Creating the Future
        <br/>
        Theme: Innovation, Inclusion, and Impact
       </p>
      </div>
     </div>
     <div class="schedule-list">
      <div class="schedule-list-box bg-white border-lightgrey border border-2 rounded px-6 py-4 mb-4">
       <div class="schedule-box-title">
        <h5 class="mb-2">
         <a class="black" href="{% url 'event_detail' %}">
          Breakfast with Founders
         </a>
        </h5>
       </div>
       <div class="schedule-box-info">
        <p class="mb-2">
         <small>
          Sit with leaders by interest: AI for Good, Women in Tech, Youth Innovation. <br>
          “Code Meets Compassion” <br>

          Workshops : Build an AI Chatbot, AI for Climate, Accessibility & Inclusive UX 



         </small>
        </p>
        <ul class="mb-2 p-0">
         <li class="d-inline">
          <i aria-hidden="true" class="fa fa-clock-o pink me-2">
          </i>
          <small>
           08:30 - 09:30 AM
          </small>
         </li>
         <li class="d-inline">
          <i aria-hidden="true" class="fa fa-thumb-tack pink mx-2">
          </i>
          <small>
           Exploration Hall
          </small>
         </li>
        </ul>
       </div>
       <div class="schedule-box-bio d-md-flex">
        <div class="schedule-bio-image">
         <img alt="team-image" class="me-2 rounded-circle" src="{% static 'images/team/2.jpg' %}"/>
        </div>
        <div class="schedule-bio-info">
         <p class="mt-1 mb-0 pink">
          <a class="pink" href="{% url 'speaker_detail' %}">
           Julia Marie Victorio
          </a>
         </p>
         <small>
          Host &amp; Speaker
         </small>
        </div>
       </div>
      </div>
      <div class="schedule-list-box bg-lightgrey border border-white border-2 rounded px-6 py-4 mb-4">
       <div class="schedule-box-title">
        <h5 class="mb-2">
         <a class="black" href="{% url 'event_detail' %}">
          Lunch + Fireside Corners
         </a>
        </h5>
       </div>
       <div class="schedule-box-info">
        <p class="mb-2">
         <small>
          AI Roundtables, Real-world issues. Real solutions. Co-created. <br> 
          Investor Panel + Startup Finale Pitch<br>
          Creative AI Showcase <br>
          Global Voices: Lightning Talks <br>
          Closing Ceremony: “Built to Rise” <br>

         </small>
        </p>
        <ul class="mb-2 p-0">
         <li class="d-inline">
          <i aria-hidden="true" class="fa fa-clock-o pink me-2">
          </i>
          <small>
           08:30 - 09:30 AM
          </small>
         </li>
         <li class="d-inline">
          <i aria-hidden="true" class="fa fa-thumb-tack pink mx-2">
          </i>
          <small>
           Exploration Hall
          </small>
         </li>
        </ul>
       </div>
       <div class="schedule-box-bio d-md-flex">
        <div class="schedule-bio-image">
         <img alt="team-image" class="me-2 rounded-circle" src="{% static 'images/team/3.jpg' %}"/>
        </div>
        <div class="schedule-bio-info">
         <p class="mt-1 mb-0 pink">
          <a class="pink" href="{% url 'speaker_detail' %}">
           Marife Enrique
          </a>
         </p>
         <small>
          Host &amp; Speaker
         </small>
        </div>
       </div>
      </div>
      <div class="schedule-list-box bg-white border-lightgrey border border-2 rounded px-6 py-4">
       <div class="schedule-box-title">
        <h5 class="mb-2">
         <a class="black" href="{% url 'event_detail' %}">
          GALA NIGHT: “Tech Meets Elegance
         </a>
        </h5>
       </div>
       <div class="schedule-box-info">
        <p class="mb-2">
         <small>
          Celebrate the brilliance of human innovation and connection at our exclusive Gala Night.
        Includes: <br>
        •	Red carpet entrance <br>
        •	Award ceremony (AI Impact Awards & Youth Pioneers) <br>
        •	Live entertainment <br>
        •	3-course plated dinner with wine <br>
        •	Fireside speeches from surprise global guests <br>
        •	After-dinner networking & dancing <br>
 Open to VIP Pass holders, partners, and invited guests -Separate tickets available for general attendees — [Reserve Gala Seat]
 
         </small>
        </p>
        <ul class="mb-2 p-0">
         <li class="d-inline">
          <i aria-hidden="true" class="fa fa-clock-o pink me-2">
          </i>
          <small>
           07:30 - 10:30 PM
          </small>
         </li>
         <li class="d-inline">
          <i aria-hidden="true" class="fa fa-thumb-tack pink mx-2">
          </i>
          <small>
            Grand Ballroom, [Partner Hotel or Venue TBD]
          </small>
         </li>
        </ul>
       </div>
       <div class="schedule-box-bio d-md-flex">
        <div class="schedule-bio-image">
         <img alt="team-image" class="me-2 rounded-circle" src="{% static 'images/team/1.jpg' %}"/>
        </div>
        <div class="schedule-bio-info">
         <p class="mt-1 mb-0 pink">
          <a class="pink" href="{% url 'speaker_detail' %}">
           Julia Marie Victorio
          </a>
         </p>
         <small>
          Host &amp; Speaker
         </small>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Schedules Section end-->
  <!--Subscribe Section start-->
  <section class="subscribe py-4">
   <div class="container">
    <div class="subscribe-content">
     <div class="row">
      <div class="col-lg-6 align-self-center">
       <div class="sub-left text-center text-lg-start py-2">
        
       </div>
      </div>
      <div class="col-lg-6">
       <div class="sub-right py-2">
        
        <div class="row gy-3">
         <div class="col-lg-8 col-md-8">
          
         </div>
         
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Subscribe Section end-->
  <!--Footer Section start-->
  <footer class="pt-9 text-center text-white position-relative z-1">
   <div class="overlay z-n1 start-0">
   </div>
   <div class="container">
    <div class="footer-content w-lg-50 m-auto">
     <div class="footer-logo mb-4 pt-1">
      <a href="{% url 'index' %}">
       <img alt="footer-logo" class="w-50" src="{% static 'images/logo/ourlogo.png' %}"/>
      </a>
     </div>
     <div class="footer-disciption border-bottom border-white border-opacity-25 m-auto mb-6">
      <p class="mb-6">
       Where the future of intelligence begins. Join us as we bring together global innovators, thought leaders, and tech pioneers to shape what comes next in AI.
      </p>
      <div class="footer-socials pb-6">
       <ul class="m-0 p-0">
        <li class="d-inline me-2">
         <a class="d-inline-block rounded-circle bg-white bg-opacity-25">
          <i class="fa fa-facebook">
          </i>
         </a>
        </li>
        <li class="d-inline me-2">
         <a class="d-inline-block rounded-circle bg-white bg-opacity-25">
          <i class="fa fa-twitter">
          </i>
         </a>
        </li>
        <li class="d-inline me-2">
         <a class="d-inline-block rounded-circle bg-white bg-opacity-25">
          <i class="fa fa-youtube-play">
          </i>
         </a>
        </li>
        <li class="d-inline me-2">
         <a class="d-inline-block rounded-circle bg-white bg-opacity-25">
          <i class="fa fa-linkedin">
          </i>
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="footer-menu pb-9">
      <ul class="p-0 m-0">
       <li class="d-inline mx-2">
        <a href="{% url 'about' %}">
         <small>
          About Event
         </small>
        </a>
       </li>
       <li class="d-inline mx-2">
        <a href="">
         <small>
          Services
         </small>
        </a>
       </li>
       <li class="d-inline mx-2">
        <a href="{% url 'speaker_list' %}">
         <small>
          Speakers
         </small>
        </a>
       </li>
       <li class="d-inline mx-2">
        <a href="{% url 'event_list' %}">
         <small>
          Schedule
         </small>
        </a>
       </li>
       <li class="d-inline mx-2">
        <a href="{% url 'pricing' %}">
         <small>
          Ticket Pricing
         </small>
        </a>
       </li>
       <li class="d-inline mx-2">
        <a href="{% url 'contact' %}">
         <small>
          Contact Us
         </small>
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="copyright pb-6 pt-1">
     <small>
      Copyright &copy;2024 Eventen. All Rights Reserved Copyright
     </small>
    </div>
   </div>
  </footer>
  <!--Footer Section end-->
  <!--Bacl-to-top Button start-->
  <div id="back-to-top">
   <a class="bg-pink position-relative align-items-center rounded-circle d-block" href="#">
   </a>
  </div>
  <!--Bacl-to-top Button end-->
  <script src="{% static 'js/jquery-3.7.1.min.js' %}">
  </script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}">
  </script>
  <script src="{% static 'js/custom-nav.js' %}">
  </script>
  <script src="{% static 'js/plugin.js' %}">
  </script>
  <script src="{% static 'js/main.js' %}">
  </script>
 </body>
</html>