{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ | World AI x Summit{% endblock %}

{% block content %}
  <!-- Bannner section starts -->
  <section class="banner page-banner position-relative pb-0">
   <div class="overlay">
   </div>
   <div class="container">
    <div class="page-title text-center position-relative py-11">
     <h2 class="text-white">
      Frequent Questions
     </h2>
    </div>
   </div>
  </section>
  <!--Banner Section end-->
  <!--General question Section start-->
  <section class="faq-general-ques pb-0">
   <div class="container">
    <div class="general-ques">
     <div class="row">
      <div class="col-lg-6 order-2 order-lg-1 p-2">
       <div class="general-ques-left text-white">
        <div class="general-ques-image text-center">
         <img alt="faq-general-image" class="w-50" src="{% static 'images/team/faq1.png' %}"/>
         <br/>
        </div>
        <div class="speaker-statement-box p-4 rounded bg-blue w-lg-80 mb-mi">
         <div class="speaker-statement ps-4 border-start border-white border-7">
          <p>
           <small>
            " "Working with this team has been a game-changer. Their creativity, reliability, and heart-centered approach made the entire process seamless—and even inspiring. I’ve never felt more supported in bringing my vision to life.""
           </small>
          </p>
          <h6 class="text-white">
           – Alex Mendoza, Founder & CEO, Rise Collective
          </h6>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 p-2">
       <div class="general-ques-right">
        <div class="section-title pb-4 text-center text-lg-start">
         <p class="mb-1 text-blue">
          GENERAL QUESTIONS
         </p>
         <h2 class="mb-2">
          FREQUENT ASKED
          <span class="text-blue">
           QUESTIONS!!
          </span>
         </h2>
         <p>
          Got questions? We’ve got answers. Below are some of the most common inquiries we receive.
         </p>
        </div>
        <div class="faq-accordion p-4 bg-white rounded border border-2 border-light-subtle">
         <div class="accordion accordion-faq" id="accordionFlushExample">
          <div class="accordion-item">
           <p class="accordion-header p-4">
            <button aria-controls="flush-collapseOne" aria-expanded="false" class="accordion-button collapsed fw-semibold p-0" data-bs-target="#flush-collapseOne" data-bs-toggle="collapse" type="button">
             ▸ What is the World AI X Summit?
            </button>
           </p>
           <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseOne">
            <div class="accordion-body bg-lightgrey p-6">
             The World AI X Summit is a global gathering of changemakers, innovators, startups, and organizations exploring how artificial intelligence can be used not just for tech advancement—but for human good. Expect keynotes, panels, exhibits, and real-world applications of AI that matter.
            </div>
           </div>
          </div>
          <div class="accordion-item">
           <p class="accordion-header p-4">
            <button aria-controls="flush-collapseTwo" aria-expanded="false" class="accordion-button collapsed fw-semibold p-0" data-bs-target="#flush-collapseTwo" data-bs-toggle="collapse" type="button">
             ▸ Who is this summit for?

            </button>
           </p>
           <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseTwo">
            <div class="accordion-body bg-lightgrey p-6">
             Whether you're a startup founder, developer, policymaker, researcher, nonprofit leader, student, or just AI-curious—you belong here. The summit is open to anyone passionate about the future of tech and its ethical, creative, and impactful potential.


            </div>
           </div>
          </div>
          <div class="accordion-item">
           <p class="accordion-header p-4">
            <button aria-controls="flush-collapseThree" aria-expanded="false" class="accordion-button collapsed fw-semibold p-0" data-bs-target="#flush-collapseThree" data-bs-toggle="collapse" type="button">
             ▸ When and where is the event?
            </button>
           </p>
           <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseThree">
            <div class="accordion-body bg-lightgrey p-6">
             🗓️ Date: January 28-30, 2026 <br>
              📍 Location: SMX Convention Center Manila, Pasay City, Ph <br> <br>
              We’ll be updating our site regularly—stay tuned or sign up for updates!
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--General question Section end-->
  <!--Populer question Section start-->
  <section class="faq-popular-ques bg-lightgrey">
   <div class="container">
    <div class="popular-ques">
     <div class="row">
      <div class="col-lg-6">
       <div class="popular-ques-left me-4 m-sm-0">
        <div class="section-title pb-4 text-center text-lg-start">
         <p class="mb-1 text-blue">
          POPULAR QUESTIONS
         </p>
         <h2 class="mb-">
          iRiseUp 
          <span class="text-blue">
           FAQ!!
          </span>
         </h2>
         <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
        </div>
        <div class="faq-accordion p-4 mb-6 bg-white rounded">
         <div class="accordion accordion-faq" id="accordionExample">
          <div class="accordion-item">
           <p class="accordion-header p-4">
            <button aria-controls="flush-collapseOne" aria-expanded="false" class="accordion-button collapsed fw-semibold p-0 text-uppercase" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
             ▸ How do I get tickets?
            </button>
           </p>
           <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseOne">
            <div class="accordion-body bg-lightgrey p-6">
             Head over to our Tickets page to view available passes. We offer options for students, professionals, and VIPs—with early-bird discounts too!
            </div>
           </div>
          </div>
          <div class="accordion-item">
           <p class="accordion-header p-4">
            <button aria-controls="flush-collapseTwo" aria-expanded="false" class="accordion-button collapsed fw-semibold p-0 text-uppercase" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
             ▸ Will there be a virtual option?
            </button>
           </p>
           <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
            <div class="accordion-body bg-lightgrey p-6">
             Yes! The World AI X Summit will be hybrid—you can join us on-ground or from anywhere in the world via our livestream and interactive online platform.
            </div>
           </div>
          </div>
          <div class="accordion-item">
           <p class="accordion-header p-4">
            <button aria-controls="flush-collapseThree" aria-expanded="false" class="accordion-button collapsed fw-semibold p-0 text-uppercase" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
           ▸ Who’s behind the summit?
            </button>
           </p>
           <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
            <div class="accordion-body bg-lightgrey p-6">
             The summit is organized by a collective of AI innovators, community builders, and global collaborators passionate about creating an inclusive future through responsible tech.
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 align-self-center">
       <div class="faq-form bg-white rounded box-shadow p-6 ms-4 m-sm-0">
        <div class="form-title mb-4">
         <h2 class="mb-2">
          Still have a
          <span class="text-black">
           Question
          </span>
          ?
         </h2>
         <p class="m-0">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
        </div>
        <div class="form-content justify-content-between">
         <form>
          <input class="mb-3" placeholder="Full Name" type="text"/>
          <div class="row justify-content-around">
           <div class="col-lg-6 col-md-6">
            <div class="phone-no">
             <input class="mb-3" placeholder="Phone No." type="tel"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6">
            <div class="email">
             <input class="mb-3" placeholder="Email Address" required="" type="email"/>
            </div>
           </div>
          </div>
          <textarea class="mb-3" placeholder="How may we help you?" rows="4"></textarea>
          <button class="btn mb-5" id="sub-btn">
           SEND MESSAGE
          </button>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Populer question Section end-->
  <!--Subscribe Section start-->
  <section class="subscribe py-4">
   <div class="container">
    <div class="subscribe-content">
     <div class="row">
      <div class="col-lg-6 align-self-center">
       <div class="sub-left text-center text-lg-start py-2">
        <h4 class="text-white">
        
        </h4>
       </div>
      </div>
      <div class="col-lg-6">
       <div class="sub-right py-2">
        <p class="text-white mb-4 text-center text-lg-start">
         
        </p>
        <div class="row gy-3">
         <div class="col-lg-8 col-md-8">
          <div class="sub-email">
          
          </div>
         </div>
         <div class="col-lg-4 col-md-4">
          <div class="sub-button">
           
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Subscribe Section end-->
{% endblock %}