{% extends 'base.html' %}
{% load static %}
{% block title %}Speakers | World AI Expo{% endblock %}

{% block content %}
  <!-- Bannner section starts -->
  <section class="banner page-banner position-relative pb-0">
   <div class="overlay">
   </div>
   <div class="container">
    <div class="page-title text-center position-relative py-11">
     <h2 class="text-white">
      Gallery
     </h2>
    </div>
   </div>
  </section>
  <!--Banner Section end-->
  <!--Gallery Section end-->
  <div class="gallery py-10">
   <div class="container">
    <div class="galler-inner">
     <div class="gallerybox">
      <div class="grid row" id="selector1">
       <div class="item grid-item col-lg-4 col-md-4 px-1 mb-2" data-src="images/group/4.jpg">
        <a>
         <img alt="VR Presentation and conference" class="w-100 rounded" src="{% static 'expo_images/thumbnail/4.jpg' %}"/>
        </a>
       </div>
       <div class="item grid-item col-lg-4 col-md-4 px-1 mb-2" data-src="images/group/7.jpg">
        <a>
         <img alt="VR Presentation and conference" class="w-100 rounded" src="{% static 'expo_images/thumbnail/7.jpg' %}"/>
        </a>
       </div>
       <div class="item grid-item col-lg-4 col-md-4 px-1 mb-2" data-src="images/group/6.jpg">
        <a>
         <img alt="VR Presentation and conference" class="w-100 rounded" src="{% static 'expo_images/thumbnail/6.jpg' %}"/>
        </a>
       </div>
       <div class="item grid-item col-lg-4 col-md-4 px-1 mb-2" data-src="images/group/7.jpg">
        <a>
         <img alt="VR Presentation and conference" class="w-100 rounded" src="{% static 'expo_images/thumbnail/7.jpg' %}"/>
        </a>
       </div>
       <div class="item grid-item col-lg-4 col-md-4 px-1 mb-2" data-src="images/group/6.jpg">
        <a>
         <img alt="VR Presentation and conference" class="w-100 rounded" src="{% static 'expo_images/thumbnail/6.jpg' %}"/>
        </a>
       </div>
       <div class="item grid-item col-lg-4 col-md-4 px-1 mb-2" data-src="images/group/1.jpg">
        <a>
         <img alt="VR Presentation and conference" class="w-100 rounded" src="{% static 'expo_images/thumbnail/1.jpg' %}"/>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!--Gallery Section end-->
  <!--Ticketbook Section start-->
  <section class="ticket1 position-relative bg-lightgrey">
   <div class="container">
    <div class="ticket-inner text-center position-relative">
     <div class="ticket-title w-lg-55 mx-auto">
      <p class="mb-1 pink">
       LET'S DO IT HURRY
      </p>
      <h2 class="mb-2">
       HAVEN'T BOOKED YOUR SEAT YET?
       <span class="spin pink d-inline-block">
        G
       </span>
       <span class="spin pink d-inline-block">
        E
       </span>
       <span class="spin pink d-inline-block">
        T
       </span>
       <span class="spin pink d-inline-block">
        T
       </span>
       <span class="spin pink d-inline-block">
        I
       </span>
       <span class="spin pink d-inline-block">
        C
       </span>
       <span class="spin pink d-inline-block">
        K
       </span>
       <span class="spin pink d-inline-block">
        E
       </span>
       <span class="spin pink d-inline-block">
        T
       </span>
      </h2>
     </div>
     <div class="ticket-info w-lg-55 mx-auto">
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <p class="mb-5">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <div class="ticket-button">
       <a class="btn" href="{% url 'book_now' %}">
        Buy TICKETS NOW
       </a>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Ticketbook Section end-->
  <!--Subscribe Section start-->
  <section class="subscribe py-4">
   <div class="container">
    <div class="subscribe-content">
     <div class="row">
      <div class="col-lg-6 align-self-center">
       <div class="sub-left text-center text-lg-start py-2">
        <h4 class="text-white">
         DON'T MISS OUR FUTURE UPDATES! GET SUBSCRIBED TODAY!
        </h4>
       </div>
      </div>
      <div class="col-lg-6">
       <div class="sub-right py-2">
        <p class="text-white mb-4 text-center text-lg-start">
         Excepteur sint occaecat cupidatat non proident, sunt
              in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="row gy-3">
         <div class="col-lg-8 col-md-8">
          <div class="sub-email">
           <input placeholder="Email" required="" type="email"/>
          </div>
         </div>
         <div class="col-lg-4 col-md-4">
          <div class="sub-button">
           <button class="btn btn3 w-100">
            SUBSCRIBE
           </button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Subscribe Section end-->
{% endblock %}