{% load static %}

<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Lewis Shirt-Eventen
  </title>
  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
  <!--CSS Plugins-->
  <link href="{% static 'css/plugin.css' %}" rel="stylesheet"/>
  <!-- Default CSS-->
  <link href="{% static 'css/default.css' %}" rel="stylesheet"/>
  <!--Custom CSS-->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
  <!--FontAwesome CSS-->
  <link href="{% static 'icons/font-awesome.min.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <!--Header Section start-->
  {% include 'header.html' %}
  <!-- Bannner section starts -->
  <section class="banner page-banner position-relative pb-0">
   <div class="overlay">
   </div>
   <div class="container">
    <div class="page-title text-center position-relative py-11">
     <h2 class="text-white">
      Product: Lewis Shirt
     </h2>
    </div>
   </div>
  </section>
  <!--Banner Section end-->
  <!--Main product Section start-->
  <section class="main-product pb-0">
   <div class="container">
    <div class="main-product-inner">
     <div class="row gx-md-5">
      <div class="col-lg-5">
       <div class="main-product-left mb-4">
        <div class="">
         <div class="slider slider-for pb-1">
          <div class="product-img">
           <img alt="Lewis Shirt" class="w-100 rounded" src="{% static 'images/product/4.jpg' %}"/>
          </div>
          <div class="product-img">
           <img alt="London T-shirt" class="w-100 rounded" src="{% static 'images/product/5.jpg' %}"/>
          </div>
          <div class="product-img">
           <img alt="Ladies Top" class="w-100 rounded" src="{% static 'images/product/2.jpg' %}"/>
          </div>
          <div class="product-img">
           <img alt="Yellow Sofa" class="w-100 rounded" src="{% static 'images/product/6.jpg' %}"/>
          </div>
         </div>
         <div class="slider slider-nav justify-content-md-center justify-content-start">
          <div class="product-img-nav me-1">
           <img alt="Lewis Shirt" class="rounded opacity-50" src="{% static 'images/product/4.jpg' %}"/>
          </div>
          <div class="product-img-nav me-1">
           <img alt="London T-shirt" class="rounded opacity-50" src="{% static 'images/product/5.jpg' %}"/>
          </div>
          <div class="product-img-nav me-1">
           <img alt="Ladies Top" class="rounded opacity-50" src="{% static 'images/product/2.jpg' %}"/>
          </div>
          <div class="product-img-nav me-1">
           <img alt="Yellow Sofa" class="rounded opacity-50" src="{% static 'images/product/6.jpg' %}"/>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-7">
       <div class="main-product-right text-center text-lg-start">
        <nav aria-label="breadcrumb ">
         <ol class="breadcrumb mb-4 justify-content-lg-start justify-content-center">
          <li class="breadcrumb-item">
           <a class="pink" href="{% url 'index' %}">
            <small>
             Home
            </small>
           </a>
          </li>
          <li class="breadcrumb-item">
           <a class="pink" href="#">
            <small>
             Clothes
            </small>
           </a>
          </li>
          <li aria-current="page" class="breadcrumb-item active">
           <small>
            Lewis Shirt
           </small>
          </li>
         </ol>
        </nav>
        <div class="product-detail">
         <h2 class="mb-2">
          Lewis Shirt
         </h2>
         <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
         <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
         <p>
          &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&rdquo;
         </p>
         <div class="price">
          <h6 class="pink mb-4">
           $29.00
          </h6>
          <input class="border border-1 border-grey rounded-4 p-3 text-grey bg-white pe-1" min="1" type="number" value="1"/>
          <a class="btn ms-2">
           Add to cart
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Main product Section end-->
  <!--Related product Section start-->
  <section class="related-product pb-9">
   <div class="container">
    <div class="related-product-inner text-center text-lg-start">
     <div class="row gx-md-5">
      <div class="col-lg-6 order-2 order-lg-1">
       <div class="related-product-list text-center pb-5">
        <h5 class="mb-4 text-lg-start">
         Releated Products
        </h5>
        <div class="row gx-md-5 gy-5">
         <div class="col-lg-6 col-md-6">
          <div class="product-box p-4 pb-4 box-shadow rounded ms-1 m-md-0">
           <div class="product-img mb-5 position-relative">
            <small>
             <span class="position-absolute translate-middle sale rounded text-white fw-bold">
              Sale!
             </span>
            </small>
            <a href="{% url 'product_single' %}">
             <img alt="Bamboo Bucket" class="w-100 rounded" src="{% static 'images/product/2.jpg' %}"/>
            </a>
           </div>
           <div class="product-info mb-3">
            <h6 class="pb-2">
             <a class="black" href="{% url 'product_single' %}">
              Ladies Top
             </a>
            </h6>
            <p class="pink fw-semibold">
             <span class="text-decoration-line-through opacity-50">
              $21.00
             </span>
             <span class="text-decoration-underline">
              $18.00
             </span>
            </p>
           </div>
           <div class="add-to-cart-btn">
            <a class="btn">
             Add To Cart
            </a>
           </div>
          </div>
         </div>
         <div class="col-lg-6 col-md-6">
          <div class="product-box p-4 pb-4 box-shadow rounded me-1 m-md-0">
           <div class="product-img mb-5">
            <a href="{% url 'product_single' %}">
             <img alt="Bamboo Bucket" class="w-100 rounded" src="{% static 'images/product/5.jpg' %}"/>
            </a>
           </div>
           <div class="product-info mb-3">
            <h6 class="pb-2">
             <a class="black" href="{% url 'product_single' %}">
              London T-shirt
             </a>
            </h6>
            <span class="pink fw-semibold">
             $25.00
            </span>
           </div>
           <div class="add-to-cart-btn">
            <a class="btn">
             Add To Cart
            </a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
       <div class="related-product-info">
        <nav>
         <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button aria-controls="nav-home" aria-selected="true" class="nav-link active fw-semibold text-uppercase py-2 px-4 ms-2 text-grey border border-1 border-grey border-opacity-75 bg-lightgrey" data-bs-target="#nav-home" data-bs-toggle="tab" id="nav-home-tab" role="tab" type="button">
           Description
          </button>
          <button aria-controls="nav-profile" aria-selected="false" class="nav-link fw-semibold text-uppercase py-2 px-4 text-grey border border-1 border-grey border-opacity-75 bg-lightgrey" data-bs-target="#nav-profile" data-bs-toggle="tab" id="nav-profile-tab" role="tab" type="button">
           Reviews (0)
          </button>
         </div>
        </nav>
        <div class="tab-content text-start" id="nav-tabContent">
         <div aria-labelledby="nav-home-tab" class="tab-pane fade show active p-4 pb-5" id="nav-home" role="tabpanel" tabindex="0">
          <p class="pink fw-semibold text-uppercase mt-1">
           Description
          </p>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
           &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&rdquo;
          </p>
         </div>
         <div aria-labelledby="nav-profile-tab" class="tab-pane fade p-4 pb-5" id="nav-profile" role="tabpanel" tabindex="0">
          <p class="pink fw-semibold text-uppercase mt-1">
           Reviews
          </p>
          <p>
           There are no reviews yet.
          </p>
          <p>
           Be the first to review &ldquo;Lewis Shirt&rdquo;
           <br/>
           Your email address will not be published. Required fields are marked *
          </p>
          <div class="review-form">
           <form>
            <div class="star-rating mb-3">
             <label class="mb-1">
              Your rating *
             </label>
             <br/>
             <i aria-hidden="true" class="fa fa-star me-1 pink" id="rating">
             </i>
             <i aria-hidden="true" class="fa fa-star me-1 pink">
             </i>
             <i aria-hidden="true" class="fa fa-star-o me-1 pink">
             </i>
             <i aria-hidden="true" class="fa fa-star-o me-1 pink">
             </i>
             <i aria-hidden="true" class="fa fa-star-o me-1 pink">
             </i>
            </div>
            <label for="review">
             Your review *
            </label>
            <textarea class="mb-3" id="review" required="" rows="2"></textarea>
            <label class="mb-2" for="full-name">
             Name*
            </label>
            <input class="mb-3" id="full-name" required="" type="text"/>
            <label class="mb-2" for="email">
             Email*
            </label>
            <input class="mb-3" id="email" required="" type="email"/>
            <input class="mb-1" id="cookie-concent" type="checkbox"/>
            <label class="mb-2" for="cookie-concent">
             Save my name, email, and website in this browser for the next time I comment.
            </label>
            <br/>
            <button class="btn">
             Submit
            </button>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Related product Section end-->
  <!--Subscribe Section start-->
  <section class="subscribe py-4">
   <div class="container">
    <div class="subscribe-content">
     <div class="row">
      <div class="col-lg-6 align-self-center">
       <div class="sub-left text-center text-lg-start py-2">
        <h4 class="text-white">
         DON'T MISS OUR FUTURE UPDATES! GET SUBSCRIBED TODAY!
        </h4>
       </div>
      </div>
      <div class="col-lg-6">
       <div class="sub-right py-2">
        <p class="text-white mb-4 text-center text-lg-start">
         Excepteur sint occaecat cupidatat non proident, sunt
              in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="row gy-3">
         <div class="col-lg-8 col-md-8">
          <div class="sub-email">
           <input placeholder="Email" required="" type="email"/>
          </div>
         </div>
         <div class="col-lg-4 col-md-4">
          <div class="sub-button">
           <button class="btn btn3 w-100">
            SUBSCRIBE
           </button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Subscribe Section end-->
 {% include 'footer.html' %}

  <!--Footer Section end-->
  <!--Bacl-to-top Button start-->
  <div id="back-to-top">
   <a class="bg-pink position-relative align-items-center rounded-circle d-block" href="#">
   </a>
  </div>
  <!--Bacl-to-top Button end-->
  <script src="{% static 'js/jquery-3.7.1.min.js' %}">
  </script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}">
  </script>
  <script src="{% static 'js/custom-nav.js' %}">
  </script>
  <script src="{% static 'js/plugin.js' %}">
  </script>
  <script src="{% static 'js/main.js' %}">
  </script>
 </body>
</html>