{% extends 'base.html' %}
{% load static %}
{% block title %}Speakers | World AI x Summit{% endblock %}

{% block content %}
  <!-- Bannner section starts -->
  <section class="banner page-banner position-relative pb-0">
   <div class="overlay">
   </div>
   <div class="container">
    <div class="page-title text-center position-relative py-11">
     <h2 class="text-white">
      Our Speakers
     </h2>
    </div>
   </div>
  </section>
  <!--Banner Section end-->
  <!--Speakers Section Start-->
  <section class="speakers">
   <div class="container">
    <div class="speaker-inner">
     <div class="sepaker-list text-center text-white">
      <div class="row">
       <div class="col-lg-3 col-md-6 p-2">
        <div class="speaker-box position-relative overflow-hidden text-white">
         <img alt="speaker-image" class="speaker-image rounded w-100" src="{% static 'images/speakers/gideon.jpg' %}"/>
         <div class="box-content position-absolute bottom-0 z-1">
          <h6 class="speaker-title d-block text-white pb-1">
           <a href="{% url 'speaker_detail' %}">
            GIDEON
           </a>
          </h6>
          <span class="speaker-post d-block pb-2">
           AI Interfaith Guide
          </span>
          <ul class="social-link pb-2 ps-0">
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-pinterest-p">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 p-2">
        <div class="speaker-box position-relative overflow-hidden">
         <img alt="speaker-image" class="speaker-image rounded w-100" src="{% static 'images/speakers/imagine.jpg' %}"/>
         <div class="box-content position-absolute bottom-0 z-1">
          <h6 class="speaker-title d-block text-white pb-1">
           <a href="{% url 'speaker_detail' %}">
            IMAGINE
           </a>
          </h6>
          <span class="speaker-post d-block pb-2">
           AI Creative Partner
          </span>
          <ul class="social-link pb-2 ps-0 position-relative">
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-pinterest-p">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 p-2">
        <div class="speaker-box position-relative overflow-hidden">
         <img alt="speaker-image" class="speaker-image rounded w-100" src="{% static 'images/speakers/elevate.jpg' %}"/>
         <div class="box-content position-absolute bottom-0 z-1">
          <h6 class="speaker-title d-block text-white pb-1">
           <a href="{% url 'speaker_detail' %}">
            ELEVATE
           </a>
          </h6>
          <span class="speaker-post d-block pb-2">
           AI Mindset Mastery
          </span>
          <ul class="social-link pb-2 ps-0">
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href=" ">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href=" ">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href=" ">
             <i class="fa fa-pinterest-p">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 p-2">
        <div class="speaker-box position-relative overflow-hidden">
         <img alt="speaker-image" class="speaker-image rounded w-100" src="{% static 'images/speakers/keystone.jpg' %}"/>
         <div class="box-content position-absolute bottom-0 z-1">
          <h6 class="speaker-title d-block text-white pb-1">
           <a href="{% url 'speaker_detail' %}">
            KEYSTONE
           </a>
          </h6>
          <span class="speaker-post d-block pb-2">
           AI Stability
          </span>
          <ul class="social-link pb-2 ps-0">
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-pinterest-p">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 p-2">
        <div class="speaker-box position-relative overflow-hidden">
         <img alt="speaker-image" class="speaker-image rounded w-100" src="{% static 'images/speakers/lifewise.jpg' %}"/>
         <div class="box-content position-absolute bottom-0 z-1">
          <h6 class="speaker-title d-block text-white pb-1">
           <a href="{% url 'speaker_detail' %}">
            LIFEWISE
           </a>
          </h6>
          <span class="speaker-post d-block pb-2">
           AI love and Leadership
          </span>
          <ul class="social-link pb-2 ps-0 position-relative">
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-pinterest-p">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 p-2">
        <div class="speaker-box position-relative overflow-hidden">
         <img alt="speaker-image" class="speaker-image rounded w-100" src="{% static 'images/speakers/lumos.jpg' %}"/>
         <div class="box-content position-absolute bottom-0 z-1">
          <h6 class="speaker-title d-block text-white pb-1">
           <a href="{% url 'speaker_detail' %}">
            LUMOS
           </a>
          </h6>
          <span class="speaker-post d-block pb-2">
           AI for Daily Living
          </span>
          <ul class="social-link pb-2 ps-0">
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href=" ">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href=" ">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href=" ">
             <i class="fa fa-pinterest-p">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 p-2">
        <div class="speaker-box position-relative overflow-hidden text-white">
         <img alt="speaker-image" class="speaker-image rounded w-100" src="{% static 'images/speakers/mentor.jpg' %}"/>
         <div class="box-content position-absolute bottom-0 z-1">
          <h6 class="speaker-title d-block text-white pb-1">
           <a href="{% url 'speaker_detail' %}">
            MENTOR IQ
           </a>
          </h6>
          <span class="speaker-post d-block pb-2">
           AI Mentor strategist
          </span>
          <ul class="social-link pb-2 ps-0">
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-pinterest-p">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 p-2">
        <div class="speaker-box position-relative overflow-hidden">
         <img alt="speaker-image" class="speaker-image rounded w-100" src="{% static 'images/speakers/nexara.jpg' %}"/>
         <div class="box-content position-absolute bottom-0 z-1">
          <h6 class="speaker-title d-block text-white pb-1">
           <a href="{% url 'speaker_detail' %}">
            NEXARA
           </a>
          </h6>
          <span class="speaker-post d-block pb-2">
           AI Conventional Strategist
          </span>
          <ul class="social-link pb-2 ps-0">
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li class="d-inline-block">
            <a class="rounded d-block me-1" href="#">
             <i class="fa fa-pinterest-p">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Speakers Section end-->
  <!--Ticketbook Section start-->
  <section class="ticket position-relative">
   <div class="overlay">
   </div>
   <div class="container">
    <div class="ticket-inner w-lg-75 mx-auto text-center position-relative text-white">
     <div class="ticket-title">
      <h5 class="text-white mb-1">
       Tickets Available
      </h5>
      <h1 class="text-white mb-2">
       HAVEN'T BOOKED YOUR SEAT YET?
      </h1>
     </div>
     <div class="ticket-info">
      <p>
       Time is ticking and seats are flying! Join thousands of visionaries, creators, and innovators at the World AI x Summit 2026. Don’t miss your chance to be part of history in the making.
      </p>
      <div class="ticket-button">
       <a class="btn btn1" href="{% url 'pricing' %}">
        GET TICKETS NOW
       </a>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Ticketbook Section end-->
  <!--Partners Section start-->
  <section class="partners">
   <div class="container">
    <div class="partner-inner">
     <div class="partner-title text-center pb-6 w-lg-60 m-auto">
      <p class="mb-1 blue">
       OUR PARTNERS
      </p>
      <h2 class="mb-1">
       SPONSORS AND
       <span class="blue">
        PARTNERS
       </span>
      </h2>
      <p class="m-0">
       The World AI x Summit 2026 is made possible by the brilliant minds and bold brands who share our mission.
      </p>
     </div>
     <div class="partner-img pb-6">
      <div class="row row-cols-1 row-cols-lg-5 row-cols-md-5">
       <div class="col p-0 border-end border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/15.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-end border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/16.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-end border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/17.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-end border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/18.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/19.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-end border-top border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/11.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-end border-top border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/14.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-end border-top border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/13.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-end border-top border-sm-0">
        <div class="p-2 partner-img-box text-center">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/12.png' %}"/>
        </div>
       </div>
       <div class="col p-0 border-top border-0 border-sm-0">
        <div class="p-2 partner-img-box text-center border-sm-0">
         <img alt="partner-img" class="opacity-75 w-lg-75 w-md-100 w-40" src="{% static 'images/icon/11.png' %}"/>
        </div>
       </div>
      </div>
     </div>
     <div class="partner-button text-center">
      <a class="btn" href="{% url 'sponsers' %}">
       VIEW MORE SPONSORS
      </a>
     </div>
    </div>
   </div>
  </section>
  <!--Partners Section end-->
  <!--Subscribe Section start-->
  <section class="subscribe py-4">
   <div class="container">
    <div class="subscribe-content">
     <div class="row">
      <div class="col-lg-6 align-self-center">
       <div class="sub-left text-center text-lg-start py-2">
        <h4 class="text-white">
         
        </h4>
       </div>
      </div>
      <div class="col-lg-6">
       <div class="sub-right py-2">
        <p class="text-white mb-4 text-center text-lg-start">
         
        </p>
        <div class="row gy-3">
         <div class="col-lg-8 col-md-8">
          <!--<div class="sub-email">
           <input placeholder="Email" required="" type="email"/>
          </div>
         </div> -->
         <div class="col-lg-4 col-md-4">
          <div class="sub-button">
          <!-- <button class="btn btn3 w-100">
            SUBSCRIBE -->
           </button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!--Subscribe Section end-->
{% endblock %}